
    <section>
      <div class="container mt-5">
        <div class="row">
            {{#each products}}
          <div class="col-md-3">
            <div class="card" style="width: 16rem;height: 26rem">
              <img
                class="card-img-top"
                src="/product-images/{{this.product._id}}.jpg"
                alt="Card image cap"
                style="height: 15rem;"
              />
              <div class="card-body">
                <h5 class="card-title">{{this.product.Name}}</h5>
                <p class="card-text">{{this.product.Description}}</p>
                 <h6 class="card-text">Quantity:   {{this.quantity}}</h6>
                  <h6 class="card-text">{{this.product.Price}}/-</h6>
              </div> 
            </div>
          </div>
            {{/each}}
        </div>
      </div>
    </section>


    <script>
     
    </script>

    