<section>
    <div class="container">
        <div class="row mt-4">
        </div>
        <table class="table mt-5">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Address</th>
      <th scope="col">Mobile</th>
      <th scope="col">Total amount</th>
      <th scope="col">Payment Method</th>
      <th scope="col">status</th>
      <th></th>
      
    </tr>
  </thead>
  <tbody>
      {{#each orders}}
    <tr>
      
      <td>{{this.date}}</td>
      <td>{{this.deliveryDetails.address}}</td>
      <td>{{this.deliveryDetails.mobile}}</td>
      <td>{{this.total}}</td>
      <td>{{this.paymentMethod}}</td>
      <td>{{this.status}}</td>    
      <td><a class="btn btn-primary" href="/view-order-products/{{this._id}}" >View Products</a>
          <a href="" onclick="cancelOrder('{{this._id}}')" style="color: rgb(255, 80, 80);"><b>Cancel Order</b> </a>
      </td>
    </tr>
  
    {{/each}}
  </tbody>
</table>
    </div>
</section>



<script>
  function cancelOrder(orderId){
    //console.log("--------------------------------" +orderId)
            $.ajax({
            url:'/cancel-order',
            method:'post',
            data:
              {
                orderId:orderId,
                count:1
              },
                          success:(response)=>{
                if(response){
                    return confirm("Do you want to cancel this order")
                    location.reload()
                }
            }
        })
    }
</script>